<html>
<head>
  <title>Crime Map</title>
  <link type='text/css' rel="stylesheet" href="{{url_for('static',
    filename='css/style.css')}}">
  </script>
  <script type="text/javascript">
    var map;
    var marker;
    function initMap() {
      mapOptions = {
        center: new google.maps.LatLng(
        61.24491985810405, 73.42604445203051),
        zoom: 15
      };
    map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
    google.maps.event.addListener(map, 'click',
      function(event){
        placeMarker(event.latLng);
      });

    function placeMarker(location) {
      if(marker){
        marker.setPosition(location);
      }else{
      marker = new google.maps.Marker({
        position: location,
        map: map
        });
      }
      document.getElementById('latitude').value= location.lat()
      document.getElementById('longitude').value= location.lng()
    }
  }
  </script><script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?
key=AIzaSyB_7I8xYc7R5kAKldmhfmlzd0YqWvx0D6Y&callback=initMap"></script>
</head>

<body onload="initMap()">
  <h1> Crime Map</h1>
  <p> A map of recent criminal activity in the world </p>
  <div id="map-canvas"></div>
  <div id="newcrimeform">
    <form action="/submitcrime" method="POST">
    <label for="category">Category:</label>
    <select name="category" id="category">
        <option value="mugging">Mugging</option>
        <option value"stealing">Stealing</option>
    </select>
    <label for="date">Date:</label>
      <input name="date" id="date" type="date"></input>
      <label for="latitude">Latitude:</label>
      <input name="latitude" id="latitude" type="text"></input>
      <label for="longitude">Longitude:</label>
      <input name="longitude" id="longitude" type="text"></input>
      <label for="description">Description:</label>
      <textarea name="description" id="description"
      placeholder="A brief but detailed description of the crime"></textarea>
      <input type="submit" value="Submit"></input>
    </form>
  </div>
  <div id=crimetable>
    <table style='border:1px solid #735184;'>
      <tr>
        <td>id</td>
        <td>latitude</td>
        <td>longitude</td>
        <td>date</td>
        <td>category</td>
        <td>description</td>
        <td>updated_at</td>
      </tr>
      {% for crime in data %}
      <tr>
      {% for row in crime %}
        <td>
        {{ row }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <a href="/clear">Clear</a>
  </div>
</body>
</html>
